In [1]:
import pandas as pd

In [2]:
vendas_bd = pd.read_excel('vendas.xlsx')
display(vendas_bd.head(10))

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71
5,3,2019-01-02,Rio Mar Shopping Fortaleza,Cinto Linho,1,248,248
6,5,2019-01-02,Shopping Barra,Calça,1,170,170
7,6,2019-01-02,Shopping Ibirapuera,Polo Listrado,4,149,596
8,7,2019-01-02,Norte Shopping,Camisa Gola V Listrado,1,116,116
9,7,2019-01-02,Norte Shopping,Camisa Liso,1,105,105

In [3]:
print(vendas_bd.shape)

(93910, 7)

In [4]:
print(vendas_bd.describe())

       Código Venda    Quantidade  Valor Unitário   Valor Final
count  93910.000000  93910.000000    93910.000000  93910.000000
mean   32464.762155      2.166553      191.725886    414.862656
std    18809.007093      1.258732      145.215519    434.846228
min        1.000000      1.000000       30.000000     30.000000
25%    16204.000000      1.000000      100.000000    156.000000
50%    32367.000000      2.000000      155.000000    274.000000
75%    48793.750000      3.000000      248.000000    524.000000
max    65014.000000      5.000000      750.000000   3750.000000

In [5]:
display(vendas_bd.describe())

       Código Venda    Quantidade  Valor Unitário   Valor Final
count  93910.000000  93910.000000    93910.000000  93910.000000
mean   32464.762155      2.166553      191.725886    414.862656
std    18809.007093      1.258732      145.215519    434.846228
min        1.000000      1.000000       30.000000     30.000000
25%    16204.000000      1.000000      100.000000    156.000000
50%    32367.000000      2.000000      155.000000    274.000000
75%    48793.750000      3.000000      248.000000    524.000000
max    65014.000000      5.000000      750.000000   3750.000000

In [9]:
produtos = vendas_bd[['Produto', 'Valor Final']]

In [10]:
display(produtos)

                 Produto  Valor Final
0         Sapato Estampa          358
1               Camiseta          360
2          Sapato Xadrez          368
3                Relógio          600
4           Chinelo Liso           71
...                  ...          ...
93905     Mochila Xadrez          566
93906  Pulseira Listrado          158
93907     Cueca Listrado          201
93908     Pulseira Linho          570
93909      Casaco Xadrez         1036

[93910 rows x 2 columns]

In [7]:

display(vendas_bd.loc[vendas_bd['Produto'] == 'Camiseta'])

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360
15,11,2019-01-02,Shopping Recife,Camiseta,1,180,180
119,93,2019-01-02,Novo Shopping Ribeirão Preto,Camiseta,1,180,180
206,148,2019-01-02,Shopping Center Interlagos,Camiseta,2,180,360
276,199,2019-01-02,Passei das Águas Shopping,Camiseta,2,180,360
...,...,...,...,...,...,...,...
92991,64379,2019-11-27,Shopping Recife,Camiseta,1,180,180
93050,64427,2019-11-27,Passei das Águas Shopping,Camiseta,2,180,360
93071,64443,2019-11-28,Shopping Barra,Camiseta,1,180,180
93577,64787,2019-11-29,Passei das Águas Shopping,Camiseta,5,180,900
93900,65009,2019-11-30,Shopping Barra,Camiseta,2,180,360

In [11]:
camisetas = vendas_bd.loc[vendas_bd['Produto'] == 'Camiseta', ["ID Loja", "Quantidade", "Valor Final"]]

In [12]:
display(camisetas)

                            ID Loja  Quantidade  Valor Final
1                Iguatemi Esplanada           2          360
15                  Shopping Recife           1          180
119    Novo Shopping Ribeirão Preto           1          180
206      Shopping Center Interlagos           2          360
276       Passei das Águas Shopping           2          360
...                             ...         ...          ...
92991               Shopping Recife           1          180
93050     Passei das Águas Shopping           2          360
93071                Shopping Barra           1          180
93577     Passei das Águas Shopping           5          900
93900                Shopping Barra           2          360

[783 rows x 3 columns]

In [13]:
vendas_bd['Lucro'] = vendas_bd['Valor Final'] * 0.3
display(vendas_bd)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Lucro
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358,107.4
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,108.0
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,110.4
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,180.0
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,21.3
...,...,...,...,...,...,...,...,...
93905,65012,2019-11-30,Shopping Vila Velha,Mochila Xadrez,2,283,566,169.8
93906,65013,2019-11-30,Ribeirão Shopping,Pulseira Listrado,2,79,158,47.4
93907,65013,2019-11-30,Ribeirão Shopping,Cueca Listrado,3,67,201,60.3
93908,65014,2019-11-30,Shopping Morumbi,Pulseira Linho,5,114,570,171.0
93909,65014,2019-11-30,Shopping Morumbi,Casaco Xadrez,4,259,1036,310.8

In [16]:
vendas_dz_bd = pd.read_excel('Vendas - Dez.xlsx')

In [17]:
display(vendas_dz_bd)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,65014,2019-12-01,Shopping Morumbi,Sunga Listrado,5,114,570
1,65014,2019-12-01,Shopping Morumbi,Casaco Listrado,1,269,269
2,65016,2019-12-01,Iguatemi Campinas,Sapato Listrado,2,363,726
3,65016,2019-12-01,Iguatemi Campinas,Casaco,1,250,250
4,65017,2019-12-01,Shopping SP Market,Gorro Liso,3,92,276
...,...,...,...,...,...,...,...
7084,69996,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204
7085,69996,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080
7086,69996,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87
7087,69997,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108
7088,69997,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266

In [22]:
vendas_bd = vendas_bd.append(vendas_dz_bd)
#Vai ser descontinuado

C:\Users\joaof\AppData\Local\Temp\ipykernel_11376\580737668.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  vendas_bd = vendas_bd.append(vendas_dz_bd)

In [19]:
display(vendas_bd)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Lucro
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358,107.4
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,108.0
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,110.4
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,180.0
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,21.3
...,...,...,...,...,...,...,...,...
7084,69996,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204,NaN
7085,69996,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080,NaN
7086,69996,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87,NaN
7087,69997,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108,NaN
7088,69997,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266,NaN

In [20]:
vendas_bd = vendas_bd.dropna()
#apaga linhas com valores vazios

In [23]:
display(vendas_bd)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Lucro
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358,107.4
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,108.0
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,110.4
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,180.0
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,21.3
...,...,...,...,...,...,...,...,...
7084,69996,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204,NaN
7085,69996,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080,NaN
7086,69996,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87,NaN
7087,69997,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108,NaN
7088,69997,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266,NaN

In [28]:
vendas_bd['Lucro'] = vendas_bd['Lucro'].fillna(vendas_bd['Lucro'].mean())
#prenche valores vazios

In [27]:
display(vendas_bd)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Lucro
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358,107.400000
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,108.000000
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,110.400000
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,180.000000
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,21.300000
...,...,...,...,...,...,...,...,...
7084,69996,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204,124.458797
7085,69996,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080,124.458797
7086,69996,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87,124.458797
7087,69997,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108,124.458797
7088,69997,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266,124.458797

In [30]:
receita = vendas_bd['ID Loja'].value_counts()
#contar os valores de uma coluna

In [31]:
display(receita)

Shopping Vila Velha                 4234
Palladium Shopping Curitiba         4210
Norte Shopping                      4179
Rio Mar Shopping Fortaleza          4118
Bourbon Shopping SP                 4116
Iguatemi Campinas                   4108
Rio Mar Recife                      4099
Shopping Center Leste Aricanduva    4093
Shopping SP Market                  4080
Shopping Ibirapuera                 4051
Novo Shopping Ribeirão Preto        4049
Ribeirão Shopping                   4048
Salvador Shopping                   4030
Shopping Center Interlagos          4021
Shopping Iguatemi Fortaleza         4021
Center Shopping Uberlândia          4013
Shopping Eldorado                   4002
Passei das Águas Shopping           4000
Shopping União de Osasco            3995
Iguatemi Esplanada                  3980
Shopping Barra                      3962
Shopping Morumbi                    3960
Parque Dom Pedro Shopping           3902
Shopping Recife                     3891
Shopping Midway Mall                3837
Name: ID Loja, dtype: int64

In [40]:
venda_produto = vendas_bd[['Produto', 'Valor Final']].groupby('Produto').sum()

In [41]:
display(venda_produto)

                  Valor Final
Produto
Bermuda                272250
Bermuda Estampa        291694
Bermuda Linho          394680
Bermuda Liso           275692
Bermuda Listrado       293237
...                       ...
Tênis Estampa          457728
Tênis Linho            538608
Tênis Liso             474544
Tênis Listrado         481032
Tênis Xadrez           459725

[120 rows x 1 columns]

In [37]:
display(venda_produto.shape)

(120,)